<div>
  <div class="overlay" [class.active]="sidebarOpen" (click)="sidebarToggle()">
  </div>
  <div class="sliding-sidebar" [class.active]="sidebarOpen">

    <!-- SIDEBAR HEADER -->

    <app-sidebar-close (click)="sidebarToggle()"></app-sidebar-close>
    <div class="sidebar-logo">
      <a href="/">
        <img src="../../../../../assets/images/logo_medium.png" alt="ePatrimoniu" title="ePatrimoniu">
      </a>
    </div>

    <app-translate></app-translate>
    <app-social></app-social>

    <!-- SIDEBAR MENU -->

    <ul class="sidebar-menu">
      <li><a href="/"><i class="fa fa-home"></i><p>{{ 'HOME' | translate }}</p></a></li>
      <li><a href="/"><i class="fa fa-envelope-o"></i><p>{{ 'CONTACT' | translate }}</p></a></li>
    </ul>
  </div>
</div>
