<div class="form-wizard">
  <div class="wizard-header">
    <ul class="nav nav-justified">
      <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
        <a class="nav-link step" (click)="goToStep(step)">
          <div class="icon-circle">
            <i [class]="step.iconClass"></i>
          </div>
          <span class="desc"> {{step.title}} </span>
        </a>
      </li>
    </ul>
    <progressbar [value]="progressPercent" type="success" [striped]="true"></progressbar>
  </div>
  <div class="wizard-body">
    <ng-content></ng-content>
  </div>
  <div class="wizard-footer" [hidden]="isCompleted">
    <button type="button" class="btn btn-default float-left" (click)="previous()" [hidden]="!hasPrevStep || !activeStep.showPrev">{{ 'WIZARD_PREV' | translate }}</button>
    <button type="button" class="btn btn-default float-right" (click)="next()" [disabled]="!activeStep.isValid" [hidden]="!hasNextStep || !activeStep.showNext"> {{ 'WIZARD_NEXT' | translate }}</button>
    <button type="button" class="btn btn-default float-right" (click)="complete()" [disabled]="!activeStep.isValid" [hidden]="hasNextStep">{{ 'WIZARD_DONE' | translate }}</button>
  </div>
</div>
