
<div class="container-fluid">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        {{ 'RAN_TITLE' | translate }} <span class="highlight">(RAN)</span>
      </div>
    </div>
    <div class="portlet-body">

      <div class="card">
        <div class="card-title">
          <span>{{ 'SEARCH' | translate }}</span>
          <i class="fa fa-search right"></i>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="col-auto">
                <label class="control-label" for="classSelect">{{ 'SITE_CLASS' | translate }}</label>
                <ngx-select [placeholder]="'SITE_CLASS' | translate" id="classSelect" [items]="['Apeduct', 'Asezare Civila', 'Asezare deschisa']"></ngx-select>
              </div>
              <div class="col-auto">
                <label class="control-label" for="typeSelect">{{ 'SITE_TYPE' | translate }}</label>
                <ngx-select [placeholder]="'SITE_TYPE' | translate" id="typeSelect" [items]="['Descoperire izolată', 'Asezare']"></ngx-select>
              </div>
              <div class="col-auto">
                <label class="control-label" for="countySelect">{{ 'SITE_COUNTY' | translate }}</label>
                <ngx-select [placeholder]="'SITE_COUNTY' | translate" id="countySelect" [items]="['Alba', 'Arad', 'Arges']"></ngx-select>
              </div>
              <div class="col-auto">
                <label class="control-label">{{ 'SITE_LAST_UPDATE' | translate }}</label>
                <div class="input-group">
                  <input type="text" class="form-control" [placeholder]="'SITE_LAST_UPDATE' | translate" bsDatepicker #d="bsDatepicker" [bsConfig]="{ containerClass: 'theme-custom' }">
                  <div class="input-group-append">
                    <button class="btn btn-default" (click)="d.toggle();" type="button">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row" style="margin-top: 1rem">
              <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">{{ 'SEARCH' | translate }}</button>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-sm">{{ 'RESET' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <app-table [items]="sites"
                 [expandableRows]="true"
                 [pagination]="true"
                 [page]="page"
                 [total]="total"
                 [perPage]="perPage"
                 [loading]="loading"
                 (tableReload)="onTableReload($event)"
                 (selectItemChange)="onSelectItemChange($event)">

        <ng-template #tableExpand let-item="item">
          <span><b>{{ 'SITE_DESCRIPTION' | translate }}:</b></span>
          {{ item.name }}
        </ng-template>

        <app-table-column [property]="'ranCode'" [minWidth]="'110px'" [sortable]="true">
          <ng-template #tableHeader>
            <span class="highlight">{{ 'SITE_RAN_CODE' | translate}}</span>
          </ng-template>
        </app-table-column>
        <app-table-column [property]="'name'" [header]="'SITE_NAME' | translate" [width]="'100%'" [sortable]="true"></app-table-column>
        <app-table-column [property]="'class'" [header]="'SITE_CLASS' | translate" [minWidth]="'180px'" [sortable]="true"></app-table-column>
        <app-table-column [property]="'type'" [header]="'SITE_TYPE' | translate" [minWidth]="'160px'" [sortable]="true"></app-table-column>
        <app-table-column [property]="'county'" [header]="'SITE_COUNTY' | translate" [minWidth]="'100px'" [sortable]="true"></app-table-column>
        <app-table-column [property]="'city'" [header]="'SITE_CITY' | translate" [minWidth]="'200px'"  [sortable]="true"></app-table-column>
        <app-table-column [property]="'chronology'" [header]="'SITE_CHRONOLOGY' | translate" [minWidth]="'200px'" [sortable]="true"></app-table-column>
        <app-table-column [property]="'lastUpdate'" [header]="'SITE_LAST_UPDATE' | translate" [minWidth]="'160px'" [sortable]="true"></app-table-column>
        <app-table-column [header]="'SITE_VIEW_MAP' | translate" [minWidth]="'110px'">
          <ng-template #tableCell let-item="item">
            <a [routerLink]="['map', item.ranCode]" class="btn btn-secondary btn-xs">{{ 'SITE_VIEW' | translate}}</a>
          </ng-template>
        </app-table-column>
      </app-table>
    </div>

    <div *ngIf="selectedSite" style="margin-top:1rem">
      <alert type="info">
        <strong>{{ 'SITE_SELECTED' | translate }}</strong> {{ selectedSite.name }}
      </alert>
    </div>

  </div>
</div>
