
<div class="container-fluid">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        {{ 'RAN_TITLE' | translate }} <span class="highlight">(RAN)</span>
      </div>
    </div>
    <div class="portlet-body">

      <div class="table-container">

        <app-table [items]="sites" (tableSort)="onSort($event)">
          <app-table-column [property]="'ranCode'" [minWidth]="'110px'" [sortable]="true">
            <ng-template #tableHeader>
              <span class="highlight-warning">{{ 'SITE_RAN_CODE' | translate}}</span>
            </ng-template>
          </app-table-column>
          <app-table-column [property]="'name'" [header]="'SITE_NAME' | translate" [width]="'100%'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'class'" [header]="'SITE_CLASS' | translate" [minWidth]="'180px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'type'" [header]="'SITE_TYPE' | translate" [minWidth]="'160px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'county'" [header]="'SITE_COUNTY' | translate" [minWidth]="'100px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'city'" [header]="'SITE_CITY' | translate" [minWidth]="'200px'"  [sortable]="true"></app-table-column>
          <app-table-column [property]="'chronology'" [header]="'SITE_CHRONOLOGY' | translate" [minWidth]="'200px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'lastUpdate'" [header]="'SITE_LAST_UPDATE' | translate" [minWidth]="'160px'" [sortable]="true"></app-table-column>
          <app-table-column [header]="'SITE_VIEW_MAP' | translate" [minWidth]="'110px'">
            <ng-template #tableCell let-item="item">
              <a [routerLink]="['map', item.ranCode]" class="btn btn-secondary btn-sm">{{ 'SITE_VIEW' | translate}}</a>
            </ng-template>
          </app-table-column>
        </app-table>

        <app-pagination
          (goPage)="goToPage($event)"
          (goNext)="onNext()"
          (goPrev)="onPrev()"
          [pagesToShow]="5"
          [page]="page"
          [perPage]="perPage"
          [total]="total"
          [loading]="loading"></app-pagination>
      </div>

    </div>
  </div>
</div>
