
<div class="container-fluid">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        {{ 'RAN_TITLE' | translate }} <span class="highlight">(RAN)</span>
      </div>
    </div>
    <div class="portlet-body">

      <div class="table-container">

        <app-table [items]="sites">
          <app-table-column [property]="'ranCode'" [header]="'Ran Code'" [minWidth]="'110px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'name'" [header]="'Name'" [width]="'100%'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'class'" [header]="'Site Class'" [minWidth]="'180px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'type'" [header]="'Site Type'" [minWidth]="'160px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'county'" [header]="'County'" [minWidth]="'100px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'city'" [header]="'City'" [minWidth]="'130px'"  [sortable]="true"></app-table-column>
          <app-table-column [property]="'chronology'" [header]="'Chronology'" [minWidth]="'200px'" [sortable]="true"></app-table-column>
          <app-table-column [property]="'lastUpdate'" [header]="'LastUpdate'" [minWidth]="'120px'" [sortable]="true"></app-table-column>
          <app-table-column [header]="'Actions'" [minWidth]="'140px'"></app-table-column>
        </app-table>

        <app-pagination
          (goPage)="goToPage($event)"
          (goNext)="onNext()"
          (goPrev)="onPrev()"
          [pagesToShow]="5"
          [page]="page"
          [perPage]="perPage"
          [total]="total"
          [loading]="loading"></app-pagination>
      </div>

    </div>
  </div>
</div>


