
<div class="main-navigation">
  <a href="/">
    <img class="navigation-logo" src="../../../../assets/images/logo_small.png" alt="ePatrimoniu">
  </a>
  <div class="container mobile-hide">
    <ul class="primary-menu">
      <li><a href="#">{{ 'HOME' | translate }}</a></li>
      <li><a href="#">{{ 'NEWS' | translate }}</a></li>
      <li class="has-children">
        <a href="javascript:void(0)" (click)="heritageMenuOpen = !heritageMenuOpen" (document:click)="closeTopMenus()" (click)="$event.stopPropagation()">
          {{ 'HERITAGE' | translate }} <i class="fa fa-angle-down arrow-down"></i>
        </a>
        <div [collapse]="!heritageMenuOpen">
          <ul class="sub-menu">
            <li><a href="#">{{ 'ARCHEOLOGY' | translate }}</a></li>
            <li><a href="#">{{ 'ART_ARCHITECTURE' | translate }}</a></li>
            <li><a href="#">{{ 'FIXED_HERITAGE' | translate }}</a></li>
            <li><a href="#">{{ 'UNFIXED_HERITAGE' | translate }}</a></li>
            <li><a href="#">{{ 'ETHNOGRAPHY' | translate }}</a></li>
            <li><a href="#">{{ 'HISTORY' | translate }}</a></li>
            <li><a href="#">{{ 'MUSIC' | translate }}</a></li>
            <li><a href="#">{{ 'NUMISMATICS' | translate }}</a></li>
            <li><a href="#">{{ 'ACTING' | translate }}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <app-sidebar-open (click)="sidebarToggle()"></app-sidebar-open>
</div>
