
<div class="main-navigation">
  <a href="/">
    <img class="navigation-logo" src="../../../../assets/images/logo_small.png" alt="ePatrimoniu">
  </a>
  <div class="container mobile-hide">
    <ul class="primary-menu">
      <li><a href="#">{{ 'HOME' | translate }}</a></li>
      <li><a href="#">{{ 'NEWS' | translate }}</a></li>
      <li class="has-children">
        <a href="javascript:void(0)" (click)="accountMenuOpen = !accountMenuOpen" (document:click)="closeTopMenus()" (click)="$event.stopPropagation()">
          {{ 'MY_ACCOUNT' | translate }} <i class="fa fa-angle-down arrow-down"></i>
        </a>
        <div [collapse]="!accountMenuOpen">
          <ul class="sub-menu">
            <li *ngIf="!authService.isAuthenticated()"><a routerLink="/account/login">{{ 'LOGIN' | translate }}</a></li>
            <li *ngIf="!authService.isAuthenticated()"><a routerLink="/account/register">{{ 'REGISTER' | translate }}</a></li>
            <li *ngIf="authService.isAuthenticated()"><a (click)="authService.logout()">{{ 'LOGOUT' | translate }}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <app-sidebar-open (click)="toggleSidebar()"></app-sidebar-open>
</div>
