
<div class="main-logo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="/" class="alpha-hover">
            <img src="../../../../assets/images/logo_large.png" width="728" height="134" alt="ePatrimoniu" title="ePatrimoniu">
          </a>
          <div class="logo-description">{{ 'LOGO_TITLE' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container promotion-area">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="promotion-item">
        <div class="promotion-header">
          <a routerLink="/ran" class="promotion-category">
            <span>R</span>
            <span class="category-small">AN.C</span>
            <span>IM</span>
            <span class="category-small">E</span>
            <span>C</span>
            <span class="category-small">.RO</span>
          </a>
        </div>
        <a routerLink="/ran">
          <div class="promotion-image alpha-hover" style="background-image:url(../../../../../assets/images/ran.jpg)"></div>
        </a>
        <div class="promotion-description">
          {{ 'RAN_TITLE' | translate }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="promotion-item">
        <div class="promotion-header">
          <a href="http://acera.cimec.ro" class="promotion-category">
            <span>A</span>
            <span class="category-small">CERA.C</span>
            <span>IM</span>
            <span class="category-small">E</span>
            <span>C</span>
            <span class="category-small">.RO</span>
          </a>
        </div>
        <a href="http://acera.cimec.ro">
          <div class="promotion-image alpha-hover" style="background-image:url(../../../../../assets/images/acera.png)"></div>
        </a>
        <div class="promotion-description">
          {{ 'ACERA_TITLE' | translate }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="promotion-item">
        <div class="promotion-header">
          <a href="http://map.cimec.ro" class="promotion-category">
            <span>M</span>
            <span class="category-small">AP.C</span>
            <span>IM</span>
            <span class="category-small">E</span>
            <span>C</span>
            <span class="category-small">.RO</span>
          </a>
        </div>
        <a href="http://map.cimec.ro">
          <div class="promotion-image alpha-hover" style="background-image:url(../../../../../assets/images/map.jpg)"></div>
        </a>
        <div class="promotion-description">
          {{ 'MAP_TITLE' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>




