
<div class="pagination-container" *ngIf="count > 0">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="description">
        <span class="page-counts">{{ getMin() }} - {{ getMax() }} {{ 'PAGE_OF' | translate}} {{ count }}</span>
        <span class="page-totals"><span class="highlight">{{ totalPages() }}</span> {{ 'PAGE_PAGES' | translate}}</span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="numbers">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="page === 1 || loading">
            <span class="page-link" (click)="onPrev()"><i class="fa fa-angle-left"></i>&nbsp; {{ 'PAGE_PREV' | translate}}</span>
          </li>
          <li class="page-item" *ngFor="let pageNum of getPages()" [class.active]="pageNum === page" [class.disabled]="loading">
            <span class="page-link" (click)="onPage(pageNum)">{{ pageNum }}</span>
          </li>
          <li class="page-item" [class.disabled]="lastPage() || loading">
            <span class="page-link" (click)="onNext(true)">{{ 'PAGE_NEXT' | translate}} &nbsp;<i class="fa fa-angle-right"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
