

@mixin button-disabled {
  &.disabled,
  &:disabled,
  &.disabled:focus,
  &:disabled:focus,
  &.disabled:hover,
  &:disabled:hover,
  &:disabled.active:hover,
  &:disabled:active:hover,
  &:disabled.active:focus,
  &:disabled:active:focus,
  &.disabled.active:hover,
  &.disabled:active:hover,
  &.disabled.active:focus,
  &.disabled:active:focus {
    @content
  }
}

@mixin button-focus-hover {
  &:focus,
  &:hover,
  &.focus,
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus,
  .show > &.dropdown-toggle {
    @content
  }
}

@mixin button-shadow-reset {
  &:focus,
  &.focus {
    @include box-shadow(none);
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-image: none;
    @include box-shadow(none);

    &:focus {
      @include box-shadow(none);
    }
  }
}

@mixin button-default($color, $background, $border) {

  color: $color;
  background-color: $background;
  border-color: $border;

  @include button-shadow-reset;

  @include button-focus-hover {
    color: $color;
    background-color: darken($background,10%);
    border-color: darken($border,10%);
  }

  @include button-disabled {
    color: rgba($color,0.95);
    background-color: rgba($background,0.85);
    border-color: rgba($border,0.85);
  }
}

@mixin button-variant($color, $background) {

  color: $color;
  background-color: $background;
  border-color: $background;

  @include button-shadow-reset;

  @include button-focus-hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($background, 10%);
  }

  @include button-disabled {
    color: rgba($color,0.95);
    background-color: rgba($background,0.95);
    border-color: rgba($background,0.95);
  }
}

@mixin button-outline-variant($color, $background, $color-hover: #fff) {
  color: $color;
  background-color: transparent;
  border-color: $color;

  @include button-shadow-reset;

  @include button-focus-hover {
    color: $color-hover;
    background-color: $background;
    border-color: $color;
  }

  @include button-disabled {
    color: rgba($color,0.85);
    background-color: transparent;
    border-color: rgba($color,0.85);
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
}
