
.pagination-container {
  flex: 0 0 30px;
  display: flex;

  .pagination {
    width: 100%;
    position: relative;
    flex: 1;
    background: #abada8;
    display: flex;
    flex-direction: row;
    align-items: center;

    .description {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 10px;

      .page-counts {
        margin-right: 10px;
      }
    }

    .numbers {
      display: block;
      text-align: center;
      flex: 1;

      button {
        flex: 0 0 auto;
        outline: none;
        border: 0;
        padding: 0 5px;
        background: transparent;
        cursor: pointer;

        &.active {
          color: #49494e;
        }

        &.disabled {
          color: #cfcfcf;
        }
      }
    }
  }
}
