
<div class="container-fluid">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        {{ 'SITE_ADD' | translate }}
      </div>
    </div>
    <div class="portlet-body">
      <div class="card">
        <div class="card-body">

          <app-wizard>
            <app-wizard-step [title]="'SITE_TABS_LOCATION' | translate" [iconClass]="'fa fa-map'" (onNext)="onStep1Next($event)">
              Step1
            </app-wizard-step>
            <app-wizard-step [title]="'SITE_TABS_CATEGORY' | translate" [iconClass]="'fa fa-bookmark'" (onNext)="onStep2Next($event)">
              Step2
            </app-wizard-step>
            <app-wizard-step [title]="'SITE_TABS_CHRONOLOGY' | translate" [iconClass]="'fa fa-calendar'" (onNext)="onStep3Next($event)">
              Step3
            </app-wizard-step>
            <app-wizard-step [title]="'SITE_TABS_MEMBERS' | translate" [iconClass]="'fa fa-users'" (onComplete)="onComplete($event)">
              <div *ngIf="!isCompleted">
                Step4
              </div>
              <div *ngIf="isCompleted">
                Thank you!
              </div>
            </app-wizard-step>
          </app-wizard>

        </div>
      </div>
    </div>
  </div>
</div>
