.alert {
  border-radius: 0;
  border: 0;

  .close {
    float: right;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: .5;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      opacity: .75;
    }
  }
}

.alert-success {
  @include alert-variant(#459e6d, #30845e, #fff)
}

.highlight {
  color: #5cb85c;
}

.highlight-warning {
  color: #ff921e;
}

.bg-light {
  background-color: #fafafa!important;
}

.bg-primary {
  background-color: #5cb85c!important;
}
