.alert {
  border-radius: 0;
  border: 1px solid;

  .close {
    float: right;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: .5;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      opacity: .75;
    }
  }
}

.alert-info {
  @include alert-variant(#00d3ee, #fff)
}

.highlight {
  color: #ff8162;
}

.highlight-success {
  color: #15b50c;
}

.highlight-warning {
  color: #ff921e;
}

.bg-light {
  background-color: #fafafa!important;
}

.bg-primary {
  background-color: #ff8162!important;
}
