.alert {
  border-radius: 0;
  border: 0;
}

.alert-success {
  @include alert-variant(#459e6d, #30845e, #fff)
}

.highlight {
  color: #5cb85c;
}
.highlight-warning {
  color: #ff921e;
}

.bg-light {
  background-color: #fafafa!important;
}
.bg-primary {
  background-color: #5cb85c!important;
}
.bg-success {
  background-color: #91c509!important;
}
