
button {
  outline: 0 !important;
  cursor: pointer;
}

.btn {

  border-radius: 0;
  outline: 0 !important;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  @include button-size(0.42rem, 1.1rem, 0.72rem, 1.5rem);
  @include transition(none);

  &::-moz-focus-inner {
    border: 0;
  }
}

.btn-link {
  font-weight: normal;
  color: #5cb85c;

  &:hover {
    color: darken(#5cb85c,10%);
    text-decoration: none;
  }

  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    color: #c2cad8;
  }
}

.btn-circle {
  border-radius: 25px;
  overflow: hidden;
}

.btn-icon {
  height: 27px;
  width: 27px;
  padding: 2px 5px 4px 6px;

  > i {
    font-size: 14px;
  }
}

.btn-light {
  color: #555;
  background-color: transparent;
  border: 1px solid transparent;

  @include button-focus-hover {
    color: #555;
    background-color: transparent;
    border-color: #5cb85c;
  }

  @include button-active {
    color: #212529;
    background-color: #ffddd5;
    border-color: #ffddd5;
  }
}

// Button size

.btn-lg {
  @include button-size(0.68rem, 1.5rem, 1rem, 1.5rem);
}
.btn-sm {
  @include button-size(0.34rem, 0.9rem, 0.7rem, 1.2rem);
}
.btn-xs {
  @include button-size(0rem, 0.5rem, 0.7rem, 1.2rem);
}
.btn-xs {
  font-weight: normal;
}

// Buttons
.btn-default,
.btn-secondary {
  @include button-default(#464652, #fafafa, #c2cad8);
}
.btn-primary {
  @include button-variant(#fff, #5cb85c);
}
.btn-info {
  @include button-variant(#fff, #0faced);
}
.btn-success {
  @include button-variant(#fff, #30845e);
}
.btn-warning {
  @include button-variant(#fff, #ff921e);
}
.btn-danger {
  @include button-variant(#fff, #ff4943);
}
.btn-dark {
  @include button-variant(#fff, #212529);
}

// Buttons outline
.btn-outline-primary {
  @include button-outline-variant(#ff8162, #ff8162);
}
.btn-outline-secondary {
  @include button-outline-variant(#212529, #212529);
}
.btn-outline-info {
  @include button-outline-variant(#0faced, #0faced);
}
.btn-outline-success {
  @include button-outline-variant(#30845e, #30845e);
}
.btn-outline-warning {
  @include button-outline-variant(#ff921e, #ff921e);
}
.btn-outline-danger {
  @include button-outline-variant(#ff4943, #ff4943);
}

i.right {
  margin-left: 0.3rem;
}

i.left {
  margin-right: 0.5rem;
}
