
.card {

  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  padding: 0.4rem;
  @include box-shadow(1px 0 0 0 #ff8162 inset, 0 1px 3px rgba(0,0,0,0.12));

  .card-title {
    margin-top: 0.72rem;
    margin-bottom: 0.72rem;
    padding-left: 1rem;

    span {
      line-height: 1.25em;
      font-size: 1.225em;
      color: #202021;
    }
  }

  .card-title a {
    color: #202021;
  }

  .card-subtitle {
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #8d8d8d;
  }

  .card-body {
    padding: 0;
    margin: 0.5rem 1rem 1rem;
  }

  .card-footer {
    margin-top: 15px;
    padding: 0 0 20px;
    background-color: transparent;
    border: 0;
  }

  .card-menu {
    position: relative;
    float: right;
    display: inline-block;
  }
}

