
.theme-custom {

  .bs-datepicker-head {
    background-color: #ff8162;
  }

  .bs-datepicker-body table {

    td span.selected,
    td.selected span,
    td span[class*="select-"]:after,
    td[class*="select-"] span:after {
      background-color: #ff8162;
    }

    td.week span {
      color: #ff8162;
    }
  }
}
