
// Single select

.ngx-select {
  position: relative;
  min-width: 220px;
  outline: none;

  .ngx-select__toggle.btn {
    font-weight: normal;
    text-transform: none;
    padding: 0.54rem 0.9rem;
    font-size: 0.84rem;
    line-height: 1.5;
    color: #555 !important;
    border-color: #c2cad8;

    @include button-focus-hover {
      color: #555;
      background-color: #fff;
      border-color: #c2cad8;
    }

    @include button-active {
      color: #555;
      background-color: #fff;
      border-color: #727c8e;
    }
  }

  .ngx-select__placeholder.text-muted {
    color: #999 !important;
  }

  .ngx-select__item.dropdown-item {
    padding: 8px 20px;
  }
}

.has-error .ngx-select {

  .ngx-select__toggle.btn {
    color: #ff3939;
    border-color: #ff3939;
    background-color: #fff6f6;
  }

  .ngx-select__placeholder.text-muted {
    color: #ff3939 !important;
  }
}

// Multiple select

.select-multiple .ngx-select.dropdown.ngx-select_multiple.form-control {
  padding: 0.5rem 0.9rem;
  font-size: 0.84rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #c2cad8;
  border-radius: 0;

  .ngx-select__search.form-control {
    margin-bottom: 0;
  }
}

.has-error .select-multiple .ngx-select.dropdown.ngx-select_multiple.form-control {
  color: #ff3939;
  border-color: #ff3939;
  background-color: #fff6f6;
}
