
.data-table {
  background: #fff;
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  tr>td,
  tr>th {
    border: 1px solid #ececec;
    padding: 0.52rem 0.75rem;
    vertical-align: middle;
  }

  thead>tr>th {
    color: #333;
    font-size: 0.72rem;
    font-weight: 600;
    padding: 0.68rem 0.75rem;
    text-transform: uppercase;
    border-bottom: 2px solid #5cb85c;

    &.sortable {
      cursor: pointer;
    }

    .column-sort-icon {
      float: right;
    }

    .column-sort-icon > i {
      color: #d3d3d3;
    }
  }

  tbody+tbody {
    border-top: none;
  }

  .row-even {
    background-color: #fbfbfb;
  }

  .row-selected {
    background-color: rgba(48,132,94,0.1)
  }

  .expand-column-header {
    min-width: 40px;
  }

  .row-expand-button {
    cursor: pointer;
    text-align: center;
  }
}
