
.tooltip {
  &.bs-tooltip-top {
    .arrow {
      margin-left: -6px;
    }
    .arrow::before {
      border-top-color: #c2cad8;
    }
  }
  &.bs-tooltip-right {
    .arrow::before {
      border-right-color: #c2cad8;
    }
  }
  &.bs-tooltip-bottom {
    .arrow::before {
      border-bottom-color: #c2cad8;
    }
  }
  &.bs-tooltip-left {
    .arrow::before {
      border-left-color: #c2cad8;
    }
  }
}

.tooltip-inner {
  border-radius: 0;
  background: #fff;
  color: #555;
  padding: 8px 15px 10px;
  @include box-shadow(0 0.02em 0.1em 0em rgba(0, 0, 0, 0.1), 0 0.1em 0.5em rgba(0, 0, 0, 0.1));
  min-width: 200px;
}
