
.tooltip {
  &.bs-tooltip-top {
    .arrow {
      margin-left: 4px;
    }
    .arrow::before {
      border-top-color: #212529;
    }
  }
  &.bs-tooltip-right {
    .arrow::before {
      border-right-color: #212529;
    }
  }
  &.bs-tooltip-bottom {
    .arrow::before {
      border-bottom-color: #212529;
    }
  }
  &.bs-tooltip-left {
    .arrow::before {
      border-left-color: #212529;
    }
  }
}

.tooltip-inner {
  border-radius: 2px;
  background: rgba(#212529, 0.97);
  color: #fff;
  padding: 10px 15px;
  @include box-shadow(0 0.08em 0.1em 0em rgba(0, 0, 0, 0.2), 0 0.1em 1.6em rgba(0, 0, 0, 0.2));
  min-width: 180px;
  margin-left: 5px;
}

